.mat-mdc-form-field {
    margin-right: 4px;
  }

  .material-icons{
    color: #fff;
  }

  button{
    background-color: #424242;
    border: none;
  }

  .mat-tree-node {
    min-height: 0px;
    max-height: 30px;
}
